body, html {
  width: 100%
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: black;
}

p {
  font-size: 16px;
}

.alert {
  margin-top: 10px;
}

.navbar-brand {
  padding: unset !important;
}

.navbar-default .navbar-nav>li>a {
  text-transform: uppercase;
  color: white;
}

.navbar-default {
  background-color: #27b463;
  border-color: #27b463 !important;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.panel-title {
  font-size: 24px;
}

h2 {
  margin-top: 0px;
}

input[type="submit"] {
  color: white;
  background-color: #616161;
  border-color: #616161;
}
.panel1{
  margin-right: -15px;
  margin-left: -15px;
  padding-top:4%;

}
.panel-default{
  border-color: #bce8f1 !important;

}


.panel-default > .panel-heading
{
color: #31708f !important;
background-color: #d9edf7 !important;
border-color: #bce8f1 !important;

}
input[type="submit"]
{
  color: #fff;
  background-color: #818181;
  border-color: #818181;
}
input[type="submit"]:hover {
  color: #fff;
  background-color: #616161 ;
  border-color: #616161 ;
}

.r01{
width: 400px !important;
float: left;
}
.btn{
width: 177px !important;
float: right;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9
{
margin-left:2% !important;
}
.col-lg-8
{
width: 70% !important;
}

.col-lg-offset-1
{
margin-left: 3% !important;
}

.h2{
color: #337ab7;
font-weight: 600;
}
.header_title{
color: #51ba50;
font-weight: 600;
}