body, html {
  width: 100%
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: black;
}

p {
  font-size: 16px;
}

.alert {
  margin-top: 10px;
}

.navbar-brand {
  padding: unset !important;
}

.navbar-default .navbar-nav>li>a {
  text-transform: uppercase;
  color: white;
}

.navbar-default {
  background-color: #27b463;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.panel-title {
  font-size: 24px;
}

h2 {
  margin-top: 0px;
}
