body, html {
  width: 100%
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: black;
}

.bgimage {
  background-image: url("/assets/img/walletFrame_bg.png");
  background-repeat: no-repeat;
  background-position: 0px 51px;
  background-size:100% 100%;
}

p {
  font-size: 16px;
}

.alert {
  margin-top: 10px;
}

.navbar-brand {
  padding: unset !important;
}

.navbar-default .navbar-nav>li>a {
  text-transform: uppercase;
  color: white;
}

.navbar-default {
  background-color: #27b463;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.panel-title {
  font-size: 24px;
}

h2 {
  margin-top: 0px;
}

input[type="submit"] {
  color: white;
  background-color: #616161;
  border-color: #616161;
}

input[type="submit"]:hover {
  color: #fff;
  background-color: #818181;
  border-color: #818181;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #27b463 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
